src/masic_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:target="http://www.masicengine.ru"
           targetNamespace="http://www.masicengine.ru"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:complexType name="ColorAsAttrComplexType">
        <xs:attribute name="r" type="xs:float"></xs:attribute>
        <xs:attribute name="g" type="xs:float"></xs:attribute>
        <xs:attribute name="b" type="xs:float"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="Vec3ComplexType">
        <xs:attribute name="x" type="xs:float"></xs:attribute>
        <xs:attribute name="y" type="xs:float"></xs:attribute>
        <xs:attribute name="z" type="xs:float"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="FilterSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nearest"></xs:enumeration>
            <xs:enumeration value="linear"></xs:enumeration>
            <xs:enumeration value="cubic_ext"></xs:enumeration>
            <xs:enumeration value="cubic_img"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SamplerAddressModeSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="repeat"></xs:enumeration>
            <xs:enumeration value="mirrored_repeat"></xs:enumeration>
            <xs:enumeration value="clamp_to_edge"></xs:enumeration>
            <xs:enumeration value="clamp_to_border"></xs:enumeration>
            <xs:enumeration value="mirror_clamp_to_edge"></xs:enumeration>
            <xs:enumeration value="mirror_clamp_to_edge_khr"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CompareOpSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="never"></xs:enumeration>
            <xs:enumeration value="less"></xs:enumeration>
            <xs:enumeration value="equal"></xs:enumeration>
            <xs:enumeration value="less_or_equal"></xs:enumeration>
            <xs:enumeration value="greater"></xs:enumeration>
            <xs:enumeration value="not_equal"></xs:enumeration>
            <xs:enumeration value="greater_or_equal"></xs:enumeration>
            <xs:enumeration value="always"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BorderColorSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="float_transparent_black"></xs:enumeration>
            <xs:enumeration value="int_transparent_black"></xs:enumeration>
            <xs:enumeration value="float_opaque_black"></xs:enumeration>
            <xs:enumeration value="int_opaque_black"></xs:enumeration>
            <xs:enumeration value="float_opaque_white"></xs:enumeration>
            <xs:enumeration value="int_opaque_white"></xs:enumeration>
            <xs:enumeration value="float_custom_ext"></xs:enumeration>
            <xs:enumeration value="int_custom_ext"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SamplerComplexType">
        <xs:sequence>
            <xs:element name="CreateFlags" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Flags">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="subsampled_bit_ext"></xs:enumeration>
                                    <xs:enumeration value="subsampled_coarse_reconstruction_bit_ext"></xs:enumeration>
                                    <xs:enumeration value="descriptor_buffer_capture_replay_bit_ext"></xs:enumeration>
                                    <xs:enumeration value="non_seamless_cube_map_bit_ext"></xs:enumeration>
                                    <xs:enumeration value="image_processing_bit_qcom"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MagFilter" type="target:FilterSimpleType"></xs:element>
            <xs:element name="MinFilter" type="target:FilterSimpleType"></xs:element>
            <xs:element name="MipmapMode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="nearest"></xs:enumeration>
                        <xs:enumeration value="linear"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AddressModeU" type="target:SamplerAddressModeSimpleType"></xs:element>
            <xs:element name="AddressModeV" type="target:SamplerAddressModeSimpleType"></xs:element>
            <xs:element name="AddressModeW" type="target:SamplerAddressModeSimpleType"></xs:element>
            <xs:element name="MipLodBias" type="xs:float"></xs:element>
            <xs:element name="AnisotropyEnable" type="xs:boolean"></xs:element>
            <xs:element name="MaxAnisotropy" type="xs:float"></xs:element>
            <xs:element name="CompareEnable" type="xs:boolean"></xs:element>
            <xs:element name="CompareOp" type="target:CompareOpSimpleType"></xs:element>
            <xs:element name="MinLod" type="xs:float"></xs:element>
            <xs:element name="MaxLod" type="xs:float"></xs:element>
            <xs:element name="BorderColor" type="target:BorderColorSimpleType"></xs:element>
            <xs:element name="UnnormalizedCoordinates" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShaderStageFlagBitsComplexType">
        <xs:sequence>
            <xs:element name="Flag" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="vertex_bit"></xs:enumeration>
                        <xs:enumeration value="tessellation_control_bit"></xs:enumeration>
                        <xs:enumeration value="tessellation_evaluation_bit"></xs:enumeration>
                        <xs:enumeration value="geometry_bit"></xs:enumeration>
                        <xs:enumeration value="fragment_bit"></xs:enumeration>
                        <xs:enumeration value="compute_bit"></xs:enumeration>
                        <xs:enumeration value="all_graphics"></xs:enumeration>
                        <xs:enumeration value="all"></xs:enumeration>
                        <xs:enumeration value="raygen_bit_khr"></xs:enumeration>
                        <xs:enumeration value="any_hit_bit_khr"></xs:enumeration>
                        <xs:enumeration value="closest_hit_bit_khr"></xs:enumeration>
                        <xs:enumeration value="miss_bit_khr"></xs:enumeration>
                        <xs:enumeration value="intersection_bit_khr"></xs:enumeration>
                        <xs:enumeration value="callable_bit_khr"></xs:enumeration>
                        <xs:enumeration value="task_bit_ext"></xs:enumeration>
                        <xs:enumeration value="mesh_bit_ext"></xs:enumeration>
                        <xs:enumeration value="subpass_shading_bit_huawei"></xs:enumeration>
                        <xs:enumeration value="cluster_culling_bit_huawei"></xs:enumeration>
                        <xs:enumeration value="raygen_bit_nv"></xs:enumeration>
                        <xs:enumeration value="any_hit_bit_nv"></xs:enumeration>
                        <xs:enumeration value="closest_hit_bit_nv"></xs:enumeration>
                        <xs:enumeration value="miss_bit_nv"></xs:enumeration>
                        <xs:enumeration value="intersection_bit_nv"></xs:enumeration>
                        <xs:enumeration value="callable_bit_nv"></xs:enumeration>
                        <xs:enumeration value="task_bit_nv"></xs:enumeration>
                        <xs:enumeration value="mesh_bit_nv"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LayoutBindingComplexType">
        <xs:all>
            <xs:element name="Binding" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>specified in shader - layout (set=m, binding=n)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DescriptorType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="sampler"></xs:enumeration>
                        <xs:enumeration value="combined_image_sampler"></xs:enumeration>
                        <xs:enumeration value="sampled_image"></xs:enumeration>
                        <xs:enumeration value="storage_image"></xs:enumeration>
                        <xs:enumeration value="uniform_texel_buffer"></xs:enumeration>
                        <xs:enumeration value="storage_texel_buffer"></xs:enumeration>
                        <xs:enumeration value="uniform_buffer"></xs:enumeration>
                        <xs:enumeration value="storage_buffer"></xs:enumeration>
                        <xs:enumeration value="uniform_buffer_dynamic"></xs:enumeration>
                        <xs:enumeration value="storage_buffer_dynamic"></xs:enumeration>
                        <xs:enumeration value="input_attachment"></xs:enumeration>
                        <xs:enumeration value="inline_uniform_block"></xs:enumeration>
                        <xs:enumeration value="acceleration_structure_khr"></xs:enumeration>
                        <xs:enumeration value="acceleration_structure_nv"></xs:enumeration>
                        <xs:enumeration value="sample_weight_image_qcom"></xs:enumeration>
                        <xs:enumeration value="block_match_image_qcom"></xs:enumeration>
                        <xs:enumeration value="mutable_ext"></xs:enumeration>
                        <xs:enumeration value="inline_uniform_block_ext"></xs:enumeration>
                        <xs:enumeration value="mutable_valve"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DescriptorCount" type="xs:unsignedInt"></xs:element>
            <xs:element name="ShaderStageFlags" type="target:ShaderStageFlagBitsComplexType"></xs:element>
            <xs:element name="ImmutableSamplers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Sampler" type="target:SamplerComplexType" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="ShaderStageSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vertex_bit"></xs:enumeration>
            <xs:enumeration value="tessellation_control_bit"></xs:enumeration>
            <xs:enumeration value="tessellation_evaluation_bit"></xs:enumeration>
            <xs:enumeration value="geometry_bit"></xs:enumeration>
            <xs:enumeration value="fragment_bit"></xs:enumeration>
            <xs:enumeration value="compute_bit"></xs:enumeration>
            <xs:enumeration value="all_graphics"></xs:enumeration>
            <xs:enumeration value="all"></xs:enumeration>
            <xs:enumeration value="raygen_bit_khr"></xs:enumeration>
            <xs:enumeration value="any_hit_bit_khr"></xs:enumeration>
            <xs:enumeration value="closest_hit_bit_khr"></xs:enumeration>
            <xs:enumeration value="miss_bit_khr"></xs:enumeration>
            <xs:enumeration value="intersection_bit_khr"></xs:enumeration>
            <xs:enumeration value="callable_bit_khr"></xs:enumeration>
            <xs:enumeration value="task_bit_ext"></xs:enumeration>
            <xs:enumeration value="mesh_bit_ext"></xs:enumeration>
            <xs:enumeration value="subpass_shading_bit_huawei"></xs:enumeration>
            <xs:enumeration value="cluster_culling_bit_huawei"></xs:enumeration>
            <xs:enumeration value="raygen_bit_nv"></xs:enumeration>
            <xs:enumeration value="any_hit_bit_nv"></xs:enumeration>
            <xs:enumeration value="closest_hit_bit_nv"></xs:enumeration>
            <xs:enumeration value="miss_bit_nv"></xs:enumeration>
            <xs:enumeration value="intersection_bit_nv"></xs:enumeration>
            <xs:enumeration value="callable_bit_nv"></xs:enumeration>
            <xs:enumeration value="task_bit_nv"></xs:enumeration>
            <xs:enumeration value="mesh_bit_nv"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GLSLTypesSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bool"></xs:enumeration>
            <xs:enumeration value="int"></xs:enumeration>
            <xs:enumeration value="uint"></xs:enumeration>
            <xs:enumeration value="float"></xs:enumeration>
            <xs:enumeration value="double"></xs:enumeration>
            <xs:enumeration value="bvec2"></xs:enumeration>
            <xs:enumeration value="bvec3"></xs:enumeration>
            <xs:enumeration value="bvec4"></xs:enumeration>
            <xs:enumeration value="ivec2"></xs:enumeration>
            <xs:enumeration value="ivec3"></xs:enumeration>
            <xs:enumeration value="ivec4"></xs:enumeration>
            <xs:enumeration value="uvec2"></xs:enumeration>
            <xs:enumeration value="uvec3"></xs:enumeration>
            <xs:enumeration value="uvec4"></xs:enumeration>
            <xs:enumeration value="vec2"></xs:enumeration>
            <xs:enumeration value="vec3"></xs:enumeration>
            <xs:enumeration value="vec4"></xs:enumeration>
            <xs:enumeration value="dvec2"></xs:enumeration>
            <xs:enumeration value="dvec3"></xs:enumeration>
            <xs:enumeration value="dvec4"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SpecializationConstantComplexType">
        <xs:sequence>
            <xs:element name="Constant" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ConstantID" type="xs:unsignedInt"></xs:element>
                        <xs:element name="Type" type="target:GLSLTypesSimpleType"></xs:element>
                        <xs:element name="Value"></xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ShaderFlagSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="link_stage_bit_ext"></xs:enumeration>
            <xs:enumeration value="allow_varying_subgroup_size"></xs:enumeration>
            <xs:enumeration value="require_full_subgroups"></xs:enumeration>
            <xs:enumeration value="no_task_shader_bit_ext"></xs:enumeration>
            <xs:enumeration value="dispatch_base_bit_ext"></xs:enumeration>
            <xs:enumeration value="fragment_shading_rate_attachment_bit_ext"></xs:enumeration>
            <xs:enumeration value="fragment_density_map_attachment_bit_ext"></xs:enumeration>
            <xs:enumeration value="indirect_bindable_bit_ext"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ShaderFlagsComplexType">
        <xs:sequence>
            <xs:element name="Flag" type="target:ShaderFlagSimpleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShaderStageFlagsComplexType">
        <xs:sequence>
            <xs:element name="Flag" type="target:ShaderStageSimpleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShaderComplexType">
        <xs:sequence>
            <xs:element name="FilePath" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="file_name" type="xs:string"></xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Flags" type="target:ShaderFlagsComplexType" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="Stage" type="target:ShaderStageFlagsComplexType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="SpecializationConstants" type="target:SpecializationConstantComplexType" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="InputAttributeDescription" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Attribute" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Location" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"></xs:element>
                                    <xs:element name="Format" type="target:GLSLTypesSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string"></xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="InputAssemblySimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="point_list"></xs:enumeration>
            <xs:enumeration value="line_list"></xs:enumeration>
            <xs:enumeration value="line_strip"></xs:enumeration>
            <xs:enumeration value="triangle_list"></xs:enumeration>
            <xs:enumeration value="triangle_strip"></xs:enumeration>
            <xs:enumeration value="triangle_fan"></xs:enumeration>
            <xs:enumeration value="line_list_with_adjacency"></xs:enumeration>
            <xs:enumeration value="line_strip_with_adjacency"></xs:enumeration>
            <xs:enumeration value="triangle_list_with_adjacency"></xs:enumeration>
            <xs:enumeration value="triangle_strip_with_adjacency"></xs:enumeration>
            <xs:enumeration value="patch_list"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PolygonModeSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fill"></xs:enumeration>
            <xs:enumeration value="line"></xs:enumeration>
            <xs:enumeration value="point"></xs:enumeration>
            <xs:enumeration value="fill_rectangle_nv"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CullModeFlagSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"></xs:enumeration>
            <xs:enumeration value="front_bit"></xs:enumeration>
            <xs:enumeration value="back_bit"></xs:enumeration>
            <xs:enumeration value="front_and_back"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FrontFaceSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="counter_clockwise"></xs:enumeration>
            <xs:enumeration value="clockwise"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SampleCountSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1_bit"></xs:enumeration>
            <xs:enumeration value="2_bit"></xs:enumeration>
            <xs:enumeration value="4_bit"></xs:enumeration>
            <xs:enumeration value="8_bit"></xs:enumeration>
            <xs:enumeration value="16_bit"></xs:enumeration>
            <xs:enumeration value="32_bit"></xs:enumeration>
            <xs:enumeration value="64_bit"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DepthStencilStateFlag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="rasterization_order_attachment_depth_access_bit_ext"></xs:enumeration>
            <xs:enumeration value="rasterization_order_attachment_stencil_access_bit_ext"></xs:enumeration>
            <xs:enumeration value="rasterization_order_attachment_depth_access_bit_arm"></xs:enumeration>
            <xs:enumeration value="rasterization_order_attachment_stencil_access_bit_arm"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StencilOpSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="keep"></xs:enumeration>
            <xs:enumeration value="zero"></xs:enumeration>
            <xs:enumeration value="replace"></xs:enumeration>
            <xs:enumeration value="increment_and_clamp"></xs:enumeration>
            <xs:enumeration value="decrement_and_clamp"></xs:enumeration>
            <xs:enumeration value="invert"></xs:enumeration>
            <xs:enumeration value="increment_and_wrap"></xs:enumeration>
            <xs:enumeration value="decrement_and_wrap"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="StencilOpStateComplexType">
        <xs:sequence>
            <xs:element name="FailOp" type="target:StencilOpSimpleType"></xs:element>
            <xs:element name="PassOp" type="target:StencilOpSimpleType"></xs:element>
            <xs:element name="DepthFailOp" type="target:StencilOpSimpleType"></xs:element>
            <xs:element name="CompareOp" type="target:CompareOpSimpleType"></xs:element>
            <xs:element name="CompareMask" type="xs:unsignedInt"></xs:element>
            <xs:element name="WriteMask" type="xs:unsignedInt"></xs:element>
            <xs:element name="Reference" type="xs:unsignedInt"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ColorBlendStateFlag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="rasterization_order_attachment_access_bit_ext"></xs:enumeration>
            <xs:enumeration value="rasterization_order_attachment_access_bit_arm"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BlendFactorSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="zero"></xs:enumeration>
            <xs:enumeration value="one"></xs:enumeration>
            <xs:enumeration value="src_color"></xs:enumeration>
            <xs:enumeration value="one_minus_src_color"></xs:enumeration>
            <xs:enumeration value="dst_color"></xs:enumeration>
            <xs:enumeration value="one_minus_dst_color"></xs:enumeration>
            <xs:enumeration value="src_alpha"></xs:enumeration>
            <xs:enumeration value="one_minus_src_alpha"></xs:enumeration>
            <xs:enumeration value="dst_alpha"></xs:enumeration>
            <xs:enumeration value="one_minus_dst_alpha"></xs:enumeration>
            <xs:enumeration value="constant_color"></xs:enumeration>
            <xs:enumeration value="one_minus_constant_color"></xs:enumeration>
            <xs:enumeration value="constant_alpha"></xs:enumeration>
            <xs:enumeration value="one_minus_constant_alpha"></xs:enumeration>
            <xs:enumeration value="src_alpha_saturate"></xs:enumeration>
            <xs:enumeration value="src1_color"></xs:enumeration>
            <xs:enumeration value="one_minus_src1_color"></xs:enumeration>
            <xs:enumeration value="src1_alpha"></xs:enumeration>
            <xs:enumeration value="one_minus_src1_alpha"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LogicOpSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="clear"></xs:enumeration>
            <xs:enumeration value="and"></xs:enumeration>
            <xs:enumeration value="and_reverse"></xs:enumeration>
            <xs:enumeration value="copy"></xs:enumeration>
            <xs:enumeration value="and_inverted"></xs:enumeration>
            <xs:enumeration value="no_op"></xs:enumeration>
            <xs:enumeration value="xor"></xs:enumeration>
            <xs:enumeration value="or"></xs:enumeration>
            <xs:enumeration value="nor"></xs:enumeration>
            <xs:enumeration value="equivalent"></xs:enumeration>
            <xs:enumeration value="invert"></xs:enumeration>
            <xs:enumeration value="or_reverse"></xs:enumeration>
            <xs:enumeration value="copy_inverted"></xs:enumeration>
            <xs:enumeration value="or_inverted"></xs:enumeration>
            <xs:enumeration value="nand"></xs:enumeration>
            <xs:enumeration value="set"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BlendOpSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="add"></xs:enumeration>
            <xs:enumeration value="subtract"></xs:enumeration>
            <xs:enumeration value="reverse_subtract"></xs:enumeration>
            <xs:enumeration value="min"></xs:enumeration>
            <xs:enumeration value="max"></xs:enumeration>
            <xs:enumeration value="zero_ext"></xs:enumeration>
            <xs:enumeration value="src_ext"></xs:enumeration>
            <xs:enumeration value="dst_ext"></xs:enumeration>
            <xs:enumeration value="src_over_ext"></xs:enumeration>
            <xs:enumeration value="dst_over_ext"></xs:enumeration>
            <xs:enumeration value="src_in_ext"></xs:enumeration>
            <xs:enumeration value="dst_in_ext"></xs:enumeration>
            <xs:enumeration value="src_out_ext"></xs:enumeration>
            <xs:enumeration value="dst_out_ext"></xs:enumeration>
            <xs:enumeration value="src_atop_ext"></xs:enumeration>
            <xs:enumeration value="dst_atop_ext"></xs:enumeration>
            <xs:enumeration value="xor_ext"></xs:enumeration>
            <xs:enumeration value="multiply_ext"></xs:enumeration>
            <xs:enumeration value="screen_ext"></xs:enumeration>
            <xs:enumeration value="overlay_ext"></xs:enumeration>
            <xs:enumeration value="darken_ext"></xs:enumeration>
            <xs:enumeration value="lighten_ext"></xs:enumeration>
            <xs:enumeration value="colordodge_ext"></xs:enumeration>
            <xs:enumeration value="colorburn_ext"></xs:enumeration>
            <xs:enumeration value="hardlight_ext"></xs:enumeration>
            <xs:enumeration value="softlight_ext"></xs:enumeration>
            <xs:enumeration value="difference_ext"></xs:enumeration>
            <xs:enumeration value="exclusion_ext"></xs:enumeration>
            <xs:enumeration value="invert_ext"></xs:enumeration>
            <xs:enumeration value="invert_rgb_ext"></xs:enumeration>
            <xs:enumeration value="lineardodge_ext"></xs:enumeration>
            <xs:enumeration value="linearburn_ext"></xs:enumeration>
            <xs:enumeration value="vividlight_ext"></xs:enumeration>
            <xs:enumeration value="linearlight_ext"></xs:enumeration>
            <xs:enumeration value="pinlight_ext"></xs:enumeration>
            <xs:enumeration value="hardmix_ext"></xs:enumeration>
            <xs:enumeration value="hsl_hue_ext"></xs:enumeration>
            <xs:enumeration value="hsl_saturation_ext"></xs:enumeration>
            <xs:enumeration value="hsl_color_ext"></xs:enumeration>
            <xs:enumeration value="hsl_luminosity_ext"></xs:enumeration>
            <xs:enumeration value="plus_ext"></xs:enumeration>
            <xs:enumeration value="plus_clamped_ext"></xs:enumeration>
            <xs:enumeration value="plus_clamped_alpha_ext"></xs:enumeration>
            <xs:enumeration value="plus_darker_ext"></xs:enumeration>
            <xs:enumeration value="minus_ext"></xs:enumeration>
            <xs:enumeration value="minus_clamped_ext"></xs:enumeration>
            <xs:enumeration value="contrast_ext"></xs:enumeration>
            <xs:enumeration value="invert_ovg_ext"></xs:enumeration>
            <xs:enumeration value="red_ext"></xs:enumeration>
            <xs:enumeration value="green_ext"></xs:enumeration>
            <xs:enumeration value="blue_ext"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColorComponentFlagSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="r_bit"></xs:enumeration>
            <xs:enumeration value="g_bit"></xs:enumeration>
            <xs:enumeration value="b_bit"></xs:enumeration>
            <xs:enumeration value="a_bit"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ColorBlendAttachmentComplexType">
        <xs:sequence>
            <xs:element name="BlendEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="SrcColorBlendFactor" type="target:BlendFactorSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="DstColorBlendFactor" type="target:BlendFactorSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="ColorBlendOp" type="target:BlendOpSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="SrcAlphaBlendFactor" type="target:BlendFactorSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="DstAlphaBlendFactor" type="target:BlendFactorSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="AlphaBlendOp" type="target:BlendOpSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="ColorWriteMask" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Mask" type="target:ColorComponentFlagSimpleType" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DynamicStateSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="viewport"></xs:enumeration>
            <xs:enumeration value="scissor"></xs:enumeration>
            <xs:enumeration value="line_width"></xs:enumeration>
            <xs:enumeration value="depth_bias"></xs:enumeration>
            <xs:enumeration value="blend_constants"></xs:enumeration>
            <xs:enumeration value="depth_bounds"></xs:enumeration>
            <xs:enumeration value="stencil_compare_mask"></xs:enumeration>
            <xs:enumeration value="stencil_write_mask"></xs:enumeration>
            <xs:enumeration value="stencil_reference"></xs:enumeration>
            <xs:enumeration value="cull_mode"></xs:enumeration>
            <xs:enumeration value="front_face"></xs:enumeration>
            <xs:enumeration value="primitive_topology"></xs:enumeration>
            <xs:enumeration value="viewport_with_count"></xs:enumeration>
            <xs:enumeration value="scissor_with_count"></xs:enumeration>
            <xs:enumeration value="vertex_input_binding_stride"></xs:enumeration>
            <xs:enumeration value="depth_test_enable"></xs:enumeration>
            <xs:enumeration value="depth_write_enable"></xs:enumeration>
            <xs:enumeration value="depth_compare_op"></xs:enumeration>
            <xs:enumeration value="depth_bounds_test_enable"></xs:enumeration>
            <xs:enumeration value="stencil_test_enable"></xs:enumeration>
            <xs:enumeration value="stencil_op"></xs:enumeration>
            <xs:enumeration value="rasterizer_discard_enable"></xs:enumeration>
            <xs:enumeration value="depth_bias_enable"></xs:enumeration>
            <xs:enumeration value="primitive_restart_enable"></xs:enumeration>
            <xs:enumeration value="viewport_w_scaling_nv"></xs:enumeration>
            <xs:enumeration value="discard_rectangle_ext"></xs:enumeration>
            <xs:enumeration value="discard_rectangle_enable_ext"></xs:enumeration>
            <xs:enumeration value="discard_rectangle_mode_ext"></xs:enumeration>
            <xs:enumeration value="sample_locations_ext"></xs:enumeration>
            <xs:enumeration value="ray_tracing_pipeline_stack_size_khr"></xs:enumeration>
            <xs:enumeration value="viewport_shading_rate_palette_nv"></xs:enumeration>
            <xs:enumeration value="viewport_coarse_sample_order_nv"></xs:enumeration>
            <xs:enumeration value="exclusive_scissor_enable_nv"></xs:enumeration>
            <xs:enumeration value="exclusive_scissor_nv"></xs:enumeration>
            <xs:enumeration value="fragment_shading_rate_khr"></xs:enumeration>
            <xs:enumeration value="vertex_input_ext"></xs:enumeration>
            <xs:enumeration value="patch_control_points_ext"></xs:enumeration>
            <xs:enumeration value="logic_op_ext"></xs:enumeration>
            <xs:enumeration value="color_write_enable_ext"></xs:enumeration>
            <xs:enumeration value="depth_clamp_enable_ext"></xs:enumeration>
            <xs:enumeration value="polygon_mode_ext"></xs:enumeration>
            <xs:enumeration value="rasterization_samples_ext"></xs:enumeration>
            <xs:enumeration value="sample_mask_ext"></xs:enumeration>
            <xs:enumeration value="alpha_to_coverage_enable_ext"></xs:enumeration>
            <xs:enumeration value="alpha_to_one_enable_ext"></xs:enumeration>
            <xs:enumeration value="logic_op_enable_ext"></xs:enumeration>
            <xs:enumeration value="color_blend_enable_ext"></xs:enumeration>
            <xs:enumeration value="color_blend_equation_ext"></xs:enumeration>
            <xs:enumeration value="color_write_mask_ext"></xs:enumeration>
            <xs:enumeration value="tessellation_domain_origin_ext"></xs:enumeration>
            <xs:enumeration value="rasterization_stream_ext"></xs:enumeration>
            <xs:enumeration value="conservative_rasterization_mode_ext"></xs:enumeration>
            <xs:enumeration value="extra_primitive_overestimation_size_ext"></xs:enumeration>
            <xs:enumeration value="depth_clip_enable_ext"></xs:enumeration>
            <xs:enumeration value="sample_locations_enable_ext"></xs:enumeration>
            <xs:enumeration value="color_blend_advanced_ext"></xs:enumeration>
            <xs:enumeration value="provoking_vertex_mode_ext"></xs:enumeration>
            <xs:enumeration value="line_rasterization_mode_ext"></xs:enumeration>
            <xs:enumeration value="line_stipple_enable_ext"></xs:enumeration>
            <xs:enumeration value="depth_clip_negative_one_to_one_ext"></xs:enumeration>
            <xs:enumeration value="viewport_w_scaling_enable_nv"></xs:enumeration>
            <xs:enumeration value="viewport_swizzle_nv"></xs:enumeration>
            <xs:enumeration value="coverage_to_color_enable_nv"></xs:enumeration>
            <xs:enumeration value="coverage_to_color_location_nv"></xs:enumeration>
            <xs:enumeration value="coverage_modulation_mode_nv"></xs:enumeration>
            <xs:enumeration value="coverage_modulation_table_enable_nv"></xs:enumeration>
            <xs:enumeration value="coverage_modulation_table_nv"></xs:enumeration>
            <xs:enumeration value="shading_rate_image_enable_nv"></xs:enumeration>
            <xs:enumeration value="representative_fragment_test_enable_nv"></xs:enumeration>
            <xs:enumeration value="coverage_reduction_mode_nv"></xs:enumeration>
            <xs:enumeration value="attachment_feedback_loop_enable_ext"></xs:enumeration>
            <xs:enumeration value="line_stipple_khr"></xs:enumeration>
            <xs:enumeration value="depth_clamp_range_ext"></xs:enumeration>
            <xs:enumeration value="line_stipple_ext"></xs:enumeration>
            <xs:enumeration value="cull_mode_ext"></xs:enumeration>
            <xs:enumeration value="front_face_ext"></xs:enumeration>
            <xs:enumeration value="primitive_topology_ext"></xs:enumeration>
            <xs:enumeration value="viewport_with_count_ext"></xs:enumeration>
            <xs:enumeration value="scissor_with_count_ext"></xs:enumeration>
            <xs:enumeration value="vertex_input_binding_stride_ext"></xs:enumeration>
            <xs:enumeration value="depth_test_enable_ext"></xs:enumeration>
            <xs:enumeration value="depth_write_enable_ext"></xs:enumeration>
            <xs:enumeration value="depth_compare_op_ext"></xs:enumeration>
            <xs:enumeration value="depth_bounds_test_enable_ext"></xs:enumeration>
            <xs:enumeration value="stencil_test_enable_ext"></xs:enumeration>
            <xs:enumeration value="stencil_op_ext"></xs:enumeration>
            <xs:enumeration value="rasterizer_discard_enable_ext"></xs:enumeration>
            <xs:enumeration value="depth_bias_enable_ext"></xs:enumeration>
            <xs:enumeration value="primitive_restart_enable_ext"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PushConstantComplexType">
        <xs:sequence>
            <xs:element name="ShaderStage" type="target:ShaderStageFlagsComplexType"></xs:element>
            <xs:element name="Format" type="target:GLSLTypesSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="GraphicsPipelineComplexType">
        <xs:sequence>
            <xs:element name="DescriptorSet" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Set" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="LayoutBinding" type="target:LayoutBindingComplexType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                </xs:sequence>
                                <xs:attribute name="slot" type="xs:unsignedInt"></xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Shaders" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Shader" type="target:ShaderComplexType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InputAssembly" type="target:InputAssemblySimpleType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="RasterizationState" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DepthClampEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="RasterizerDiscardEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="PolygonMode" type="target:PolygonModeSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="CullMode" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Flags" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Flag" type="target:CullModeFlagSimpleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="FrontFace" type="target:FrontFaceSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="DepthBiasEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="DepthBiasConstantFactor" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="DepthBiasClamp" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="DepthBiasSlopeFactor" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="LineWidth" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MultisampleState" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SampleCount" type="target:SampleCountSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="SampleShadingEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="MinSampleShading" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="SampleMask1" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="SampleMask2" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="alphaToCoverageEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="alphaToOneEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DepthStencilState" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Flags" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Flag" type="target:DepthStencilStateFlag" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DepthTestEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="DepthWriteEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="DepthCompareOp" type="target:CompareOpSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="DepthBoundsTestEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="StencilTestEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="FrontStencilOpState" type="target:StencilOpStateComplexType" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="BackStencilOpState" type="target:StencilOpStateComplexType" minOccurs="0" maxOccurs="1"></xs:element>
                        <xs:element name="MinDepthBounds" type="xs:float" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="MaxDepthBounds" type="xs:float" minOccurs="1" maxOccurs="1"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ColorBlendState" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Flags" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Flag" type="target:ColorBlendStateFlag" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="LogicOpEnable" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="LogicOp" type="target:LogicOpSimpleType" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="Attachments" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Attachment" type="target:ColorBlendAttachmentComplexType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="BlendConstant1" type="xs:float"></xs:element>
                        <xs:element name="BlendConstant2" type="xs:float"></xs:element>
                        <xs:element name="BlendConstant3" type="xs:float"></xs:element>
                        <xs:element name="BlendConstant4" type="xs:float"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DynamicState" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Dynamic" type="target:DynamicStateSimpleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PushConstants" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Constant" type="target:PushConstantComplexType"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="PipelinesComplexType">
        <xs:sequence>
          <xs:element name="GraphicsPipeline" type="target:GraphicsPipelineComplexType" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="ComputePipeline" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Pipelines" type="target:PipelinesComplexType"></xs:element>
    <xs:element name="World">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Actors" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Actor" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="TransformComponent" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Position" type="target:Vec3ComplexType"></xs:element>
                                                    <xs:element name="YawPitchRoll" type="target:Vec3ComplexType"></xs:element>
                                                    <xs:element name="Scale" type="target:Vec3ComplexType"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CameraComponent">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Fov" type="xs:float"></xs:element>
                                                    <xs:element name="Near" type="xs:float"></xs:element>
                                                    <xs:element name="Far" type="xs:float"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ModelComponent">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FilePath" type="xs:string"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Scene">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BackgroundColor" type="target:ColorAsAttrComplexType"></xs:element>
                            <xs:element name="Camera">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SelectName" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Fog">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FogStart" type="xs:float"></xs:element>
                                        <xs:element name="FogRange" type="xs:float"></xs:element>
                                        <xs:element name="FogColor" type="target:ColorAsAttrComplexType"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ActorAnimations">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ActorAnimation" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AnimationForActorName" type="xs:string"></xs:element>
                                                    <xs:element name="RelativeKeyframe">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="TimePosSec" type="xs:float"></xs:element>
                                                                <xs:element name="YawPitchRoll" type="target:Vec3ComplexType"></xs:element>
                                                                <xs:element name="Translation" type="target:Vec3ComplexType"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TotalTimeSec" type="xs:float"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlayerOptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Graphics">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Renderer">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Vulkan"></xs:enumeration>
                                        <xs:enumeration value="DirectX12"></xs:enumeration>
                                        <xs:enumeration value="OpenGL4"></xs:enumeration>
                                        <xs:enumeration value="OpenGL3"></xs:enumeration>
                                        <xs:enumeration value="OpenGLES"></xs:enumeration>
                                        <xs:enumeration value="DirectX11"></xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Width" type="xs:unsignedInt"></xs:element>
                            <xs:element name="Height" type="xs:unsignedInt"></xs:element>
                            <xs:element name="RunFullSpeed" type="xs:boolean"></xs:element>
                            <xs:element name="FullScreen" type="xs:boolean"></xs:element>
                            <xs:element name="FullScreenMax" type="xs:boolean"></xs:element>
                            <xs:element name="ScreenTearing" type="xs:boolean"></xs:element>
                            <xs:element name="DebugUI" type="xs:boolean"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sound">
                    <xs:complexType>
                        <xs:attribute name="sfxVolume" type="xs:float"></xs:attribute>
                        <xs:attribute name="musicVolume" type="xs:float"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>